<!DOCTYPE html>
<html>
<head>
    <style type="text/css">@import url("/static/pbs/@.css");</style>
    <title>Project BlackStone</title>
</head>
<body class="blackstone login" onload="video.playbackRate=0.6">
    <div class="overlay video">
        <video class="video-background" poster="/static/pbs/@.jpg" autoplay="autoplay" loop="loop">
            <source src="/static/pbs/@.ogv" type="video/ogg" codecs="theora,vorbis" />
        </video>
    </div>
    <div class="main content">
        <div class="login container">
            <img src="/static/pbs/@.png" class="logo" />
            <form class="login-form">
                <input type="text" class="accesscode" value="Access Denied" disabled/>
            </form>
        </div>
    </div>
</body>
</html>
