<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style type="text/css"> @import url("/static/css/main.css"); </style>
    <title>Password</title>
</head>

<body class="ui_indigo " data-group="" data-page="profiles:accounts:show" data-project="">
    {% include './templete/header.html'%}
    <div class="page-with-new-sidebar page-with-sidebar">
        {% include './templete/nav-sidebar.html'%}
        <div class="content-wrapper page-with-new-nav">
            <div class="mobile-overlay"></div>
            <div class="alert-wrapper">
                <nav class="breadcrumbs container-fluid container-limited limit-container-width" role="navigation">
                    <div class="breadcrumbs-container">
                        <button name="button" type="button" class="toggle-mobile-nav"><span class="sr-only">Open sidebar</span>
                            <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
                        </button>
                        <div class="breadcrumbs-links js-title-container">
                            <ul class="list-unstyled breadcrumbs-list js-breadcrumbs-list">
                                <li><a href="/account">User Center</a>
                                    <svg class="s8 breadcrumbs-list-angle">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/css/icons-76c4a61a43b91bb8e4cde6ba509e3919850e80bc83382ff1f8bce2ef19a1b33f.svg#angle-right"></use>
                                    </svg>
                                </li>
                                <li>
                                    <h2 class="breadcrumbs-sub-title">Edit Password</h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="flash-container flash-container-page">
                </div>
            </div>
            <div class="container-fluid container-limited limit-container-width">
                <div class="content" id="content-body">
                    <div class="row prepend-top-default">
                        <div class="col-lg-4 profile-settings-sidebar">
                            <h4 class="prepend-top-0"> Password </h4>
                            <p> After a successful password update, you will be redirected to the login page where you can log in with your new password. </p>
                        </div>
                        <div class="col-lg-8">
                            <h5 class="prepend-top-0"> Change your password or recover your current one </h5>
                            <form class="update-password" id="edit_user_9" action="/profile/password" accept-charset="UTF-8" method="post">
                                <input name="utf8" type="hidden" value="✓">
                                <input type="hidden" name="_method" value="put">
                                <input type="hidden" name="authenticity_token" value="bZWhCE4rTo0jLMtmaF15pOa9szvRjJqXIgpJo9vi6IWTg0kR5xgULkrkypzsCGf2KVbLW0oXjEEwVdBQ9V3cWg==">
                                <div class="form-group">
                                    <label class="label-light" for="old_password">Current password</label>
                                    <input class="form-control" type="password" id="old_password" required/>
                                    <p class="help-block">
                                        You must provide your current password in order to change it.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label class="label-light" for="new_username">New username</label>
                                    <input class="form-control" type="text" id="new_username" required/>
                                </div>
                                <div class="form-group">
                                    <label class="label-light" for="new_password">New password</label>
                                    <input class="form-control" type="password" id="new_password" required/>
                                </div>
                                <div class="form-group">
                                    <label class="label-light" for="new_password_confirm">Password confirmation</label>
                                    <input class="form-control" type="password" id="new_password_confirm" required/>
                                </div>
                                <div class="prepend-top-default append-bottom-default">
                                    <input type="submit" name="commit" value="Update" class="btn btn-create btn-warning append-right-10" id="btn_save">
                                    <span class="danger-title" id="span_message">Never ever forgot your password.</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include './templete/bottom_script.html'%}
    <script type="text/javascript">
        (function(){
            $('#btn_save').click(function(event) {
                var req_data = {
                    'old_password': $('#old_password').val(),
                    'new_username': $('#new_username').val(),
                    'new_password': $('#new_password').val(),
                    'new_password_confirm': $('#new_password_confirm').val(),
                    'ts': (new Date).getTime(),
                }
                if (req_data['new_password'] !== req_data['new_password_confirm']) return $('#span_message').text("Please check your input") && false;
                if ( !(req_data['old_password'] && req_data['new_username'] && req_data['new_password']) ) return $('#span_message').text("Please check your input") && false;
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: '/user_change',
                    data: JSON.stringify(req_data),
                    dataType: 'json',
                    success: function(res_data) {
                        if (res_data.code === 200 && res_data.data === true) {
                            $('#span_message').text('Success, redirecting to login in 3 seconds...');
                            setTimeout(function() {
                                window.location = '/login';
                            }, 3000);
                        } else {
                            $('#span_message').text(res_data.desc);
                        }
                    },
                    error: function(err) {
                        $('#span_message').text(err.responseText);
                    }
                });
            });
        })();
    </script>
</body>
</html>
