doctype html
html
    head
        style(type='text/css').
            @import url("/pbs/@.css");
        title Project BlackStone
    body.blackstone.login
        .overlay.video
            video.video-background(poster='/pbs/@.jpg')
        .main.content
            .login.container
                img.logo(src='/pbs/@.png')
                form.login-form
                    input.accesscode(type='text', value='Access Denied', disabled='')
