doctype html
html
  head
    meta(charset='UTF-8')
    style(type='text/css').
      @import url("/css/main.css");
    title Log
  body.ui_indigo(data-group='', data-page='profiles:accounts:show', data-project='')
    | {% include './template/header'%}
    .page-with-new-sidebar.page-with-sidebar
      | {% include './template/nav-sidebar'%}
      .content-wrapper.page-with-new-nav
        .mobile-overlay
        .alert-wrapper
          nav.breadcrumbs.container-fluid.container-limited(role='navigation')
            .breadcrumbs-container
              button.toggle-mobile-nav(name='button', type='button')
                span.sr-only Open sidebar
                i.fa.fa-bars(aria-hidden='true', data-hidden='true')
              .breadcrumbs-links.js-title-container
                ul.list-unstyled.breadcrumbs-list.js-breadcrumbs-list
                  li
                    a(href='/account') User Center
                    svg.s8.breadcrumbs-list-angle
                      use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons-76c4a61a43b91bb8e4cde6ba509e3919850e80bc83382ff1f8bce2ef19a1b33f.svg#angle-right')
                  li
                    h2.breadcrumbs-sub-title Operation log
          .flash-container.flash-container-page
        .container-fluid.container-limited
          #content-body.content
            .row.prepend-top-default
              .col-lg-8
                h5.prepend-top-0  History of operations
                ul#log_list.well-list
    script#template_log(type='template')
        li
          span.description
            i.fa.append-right-5
            span.log_type
            a.target(href='##')
          span.pull-right
            ip.ip
            span  on
            time.js-timeago.js-timeago-render

    | {% include './template/bottom_script'%}
    script(src='/js/log.js')
