doctype html
html
    head
        meta(charset='UTF-8')
        style(type='text/css').
            @import url("/css/main.css");
        title Password
    body.ui_indigo(data-group='', data-page='profiles:accounts:show', data-project='')
        | {% include './template/header'%}
        .page-with-new-sidebar.page-with-sidebar
            | {% include './template/nav-sidebar'%}
            .content-wrapper.page-with-new-nav
                .mobile-overlay
                .alert-wrapper
                    nav.breadcrumbs.container-fluid.container-limited.limit-container-width(role='navigation')
                        .breadcrumbs-container
                            button.toggle-mobile-nav(name='button', type='button')
                                span.sr-only Open sidebar
                                i.fa.fa-bars(aria-hidden='true', data-hidden='true')
                            .breadcrumbs-links.js-title-container
                                ul.list-unstyled.breadcrumbs-list.js-breadcrumbs-list
                                    li
                                        a(href='/account') User Center
                                        svg.s8.breadcrumbs-list-angle
                                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons-76c4a61a43b91bb8e4cde6ba509e3919850e80bc83382ff1f8bce2ef19a1b33f.svg#angle-right')
                                    li
                                        h2.breadcrumbs-sub-title Edit Password
                    .flash-container.flash-container-page
                .container-fluid.container-limited.limit-container-width
                    #content-body.content
                        .row.prepend-top-default
                            .col-lg-4.profile-settings-sidebar
                                h4.prepend-top-0    Password
                                p
                                    | After a successful password update, you will be redirected to the login page where you can log in with your new password.
                            .col-lg-8
                                h5.prepend-top-0    Change your password or recover your current one
                                form#edit_user_9.update-password(action='/profile/password', accept-charset='UTF-8', method='post')
                                    input(name='utf8', type='hidden', value='✓')
                                    input(type='hidden', name='_method', value='put')
                                    input(type='hidden', name='authenticity_token', value='bZWhCE4rTo0jLMtmaF15pOa9szvRjJqXIgpJo9vi6IWTg0kR5xgULkrkypzsCGf2KVbLW0oXjEEwVdBQ9V3cWg==')
                                    .form-group
                                        label.label-light(for='old_password') Current password
                                        input#old_password.form-control(type='password', required='')
                                        p.help-block
                                            | You must provide your current password in order to change it.
                                    .form-group
                                        label.label-light(for='new_username') New username
                                        input#new_username.form-control(type='text', required='')
                                    .form-group
                                        label.label-light(for='new_password') New password
                                        input#new_password.form-control(type='password', required='')
                                    .form-group
                                        label.label-light(for='new_password_confirm') Password confirmation
                                        input#new_password_confirm.form-control(type='password', required='')
                                    .prepend-top-default.append-bottom-default
                                        input#btn_save.btn.btn-create.btn-warning.append-right-10(type='submit', name='commit', value='Update')
                                        span#span_message.danger-title Never ever forgot your password.
        | {% include './template/bottom_script'%}
        script(src='/js/password.js')
